@use 'base/variables' as v;

.negro {
    display: grid;
    place-items: center;
    background-color: v.$principal;
    border: 1px solid black;
}

.blanco {
    display: grid;
    place-items: center;
    background-color: v.$blanco;
    border: 1px solid black;
}

.chess {
    display: grid;
    border: 1px solid v.$negro;
    height: 75rem;
    width: 75rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

